@model MediSecurity.Data.Entities.Patient

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="AddMedicalOrder" class="btn btn-primary">Add Medical Order</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>

@if (Model.MedicalOrders.Count == 0)
{
    <h5>Not medical orders added yet.</h5>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalOrders.FirstOrDefault().Remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalOrders.FirstOrDefault().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicalOrders.FirstOrDefault().StartDate)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MedicalOrders)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    <a asp-action="EditMedicalOrder" asp-route-id="@item.Id" class="btn btn-warning">EditMedicalOrder</a> |
                    <a asp-action="DetailsMedicalOrder" asp-route-id="@item.Id" class="btn btn-info">DetailsMedicalOrder</a> |
                    <a asp-action="DeleteMedicalOrder" asp-route-id="@item.Id" class="btn btn-danger">DeleteMedicalOrder</a>
                </td>
            </tr>

            }
            }
        </tbody>
    </table>
}